<div class="container">
  <h2 class="page-title">Add Trip</h2>

  <div class="col-md-4 form-wrapper">

    <form *ngIf="addForm" [formGroup]="addForm" (ngSubmit)="onSubmit()">

      <!-- Code -->
      <div class="form-group mb-3">
        <label>Code:</label>
        <input
          type="text"
          formControlName="code"
          placeholder="Code"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['code'].errors }"
        />
        <div *ngIf="submitted && f['code'].errors" class="invalid-feedback d-block">
          Trip Code is required
        </div>
      </div>

      <!-- Name -->
      <div class="form-group mb-3">
        <label>Name:</label>
        <input
          type="text"
          formControlName="name"
          placeholder="Name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
        />
        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback d-block">
          Name is required
        </div>
      </div>

      <!-- Length -->
      <div class="form-group mb-3">
        <label>Length:</label>
        <input
          type="text"
          formControlName="length"
          placeholder="Length"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['length'].errors }"
        />
        <div *ngIf="submitted && f['length'].errors" class="invalid-feedback d-block">
          Length is required
        </div>
      </div>

      <!-- Start -->
      <div class="form-group mb-3">
        <label>Start:</label>
        <input
          type="date"
          formControlName="start"
          placeholder="Start"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['start'].errors }"
        />
        <div *ngIf="submitted && f['start'].errors" class="invalid-feedback d-block">
          Date is required
        </div>
      </div>

      <!-- Resort -->
      <div class="form-group mb-3">
        <label>Resort:</label>
        <input
          type="text"
          formControlName="resort"
          placeholder="Resort"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['resort'].errors }"
        />
        <div *ngIf="submitted && f['resort'].errors" class="invalid-feedback d-block">
          Resort is required
        </div>
      </div>

      <!-- Per Person -->
      <div class="form-group mb-3">
        <label>Per Person:</label>
        <input
          type="text"
          formControlName="perPerson"
          placeholder="Per Person"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['perPerson'].errors }"
        />
        <div *ngIf="submitted && f['perPerson'].errors" class="invalid-feedback d-block">
          Per Person is required
        </div>
      </div>

      <!-- Image -->
      <div class="form-group mb-3">
        <label>Image Name:</label>
        <input
          type="text"
          formControlName="image"
          placeholder="Image"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['image'].errors }"
        />
        <div *ngIf="submitted && f['image'].errors" class="invalid-feedback d-block">
          Image Name is required
        </div>
      </div>

      <!-- Description -->
      <div class="form-group mb-3">
        <label>Description:</label>
        <input
          type="text"
          formControlName="description"
          placeholder="Description"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"
        />
        <div *ngIf="submitted && f['description'].errors" class="invalid-feedback d-block">
          Description is required
        </div>
      </div>

      <button type="submit" class="btn btn-info">Save</button>

    </form>
  </div>
</div>
